* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100px;
}
.big-box {
    height: 100vh;
}
.header {
    height: 100px;
    background-color: rgb(37 133 253);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 100%;
}
.row {
    margin-top: 40px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.col {
    width: 100%;
    height: 400px;
    background-color: lightblue;
    border-radius: 20px;
    margin: 20px;
}
.planning {
    background-color:#9792e4 ;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
}
.box-left {
    height: 400px;
}
.box-right {
    height: 600px;
    background-color: white;
    border-radius: 20px;
}
