* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
.header {
    height: 100px;
    background-color: rgb(37 133 253);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 100%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.col {
    border: 1px solid black;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    background-color: #b5ddff;
    border-radius: 20px;
    margin: 20px;
}
.planning {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
}
.box-left {
}
.box-right {
    background-color: white;
    border-radius: 20px;
    text-align: center;
}
#expert .col {
    background-color:#9792e4;
    color: white;
}
.partners .row {
    flex-direction: column;
}
.benefit {
    background-color:#9792e4;
}
#working .col {
    background-color: white;
    color:#9792e4  ;
}
.about .box-left {
    border: 1px solid black;
}
.about .box-right {
    border: 1px solid black;
}
.free {
    background-color: #9792e4;
    height: 300px;
}
.footer {
    background-color: #333333;
    height: 150px;
}
.bg-box {
    background-color:#9792e4;
}
.small {
    width: 80%;
    margin: 0 auto;
}